body{
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.calculator{
    width: 25em;
	height: 30em;
    background-color:black;
    opacity:0.6;
	color: azure;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    padding:2em;
    border-radius: 2em;
    box-shadow:0.1em 0.1em 0.1em 0.1em rgb(6, 78, 100);

    display: grid;
    grid-template-rows: 10% 90%;
}
.input{
    /* background-color: brown; */
    text-align: center;
    padding :0.5em;
}
input{
    width: 90%;
    height: 70%;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.table{
    background-color: aqua;
    border-radius: 5%;
    margin-top: 1em;
    padding: 2em;
    opacity: 0.6;
}
